body {
  background-color: rgb(179, 174, 174);
}
section {
  width: 50%;
  margin: auto;
  margin-top: 8%;
  border-radius: 15px;
  overflow: hidden;
}
section .box-1 {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  padding-left: 40px;
  padding-top: 5px;
}
section .box-1 h2 {
  color: rgb(95, 175, 167);
}
section .box-1 h3 {
  color: rgb(197, 212, 119);
}
.box-1 p {
  color: rgb(134, 134, 134);
  margin-bottom: 0%;
  padding-bottom: 20px;
}
section .box-2 {
  display: flex;
  text-align: left;
}
@media (max-width: 768px) {
  section .box-2 {
    flex-direction: column;
  }
}
.box-2 .child-1 {
  background-color: rgb(43, 180, 177);
  flex: 1;
  padding: 20px 0px 30px 40px;
}
@media (max-width: 768px) {
  .box-2 .child-1 {
    padding-right: 35px;
    text-align: center;
  }
}
.box-2 .child-1 h3 {
  color: rgb(255, 255, 255);
}
.box-2 .child-1 span:nth-of-type(1) {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 35px;
}
.box-2 .child-1 span:nth-of-type(2) {
  color: rgb(204, 204, 204);
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  transform: translateY(-7px);
}
.box-2 .child-1 p {
  margin-bottom: 0%;
  color: rgb(216, 216, 216);
  font-size: 17px;
}
.box-2 .child-1 button {
  display: block;
  margin-top: 15px;
  padding: 13px;
  width: 75%;
  border-radius: 5px;
  border: none;
  background-color: rgb(190, 223, 50);
  cursor: pointer;
  transition: 1s;
}
.box-2 .child-1 button:hover {
  background-color: rgb(231, 255, 126);
}
@media (max-width: 768px) {
  .box-2 .child-1 button {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 13px;
    transition: 1s;
  }
  .box-2 .child-1 button:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(0, 0, 0);
  }
}
.box-2 .child-2 {
  background-color: rgb(73, 190, 189);
  flex: 1;
  padding: 20px 0px 30px 40px;
}
.box-2 .child-2 h3 {
  color: rgb(255, 255, 255);
}
.box-2 .child-2 p {
  color: rgb(204, 204, 204);
  font-size: 17px;
  margin-bottom: 0%;
}
